<html>
<head>
    <meta name="decorator" content="atl.general"/>
    <title>Select project</title>
</head>
<body><br/>
<div>Enter Project key or leave empty to get info about all projects</div><br/>
<form method="post" action="/jira/plugins/servlet/servlet">
    <input type="text" name="key" id="form-input"/>
    <input type="submit" value="Submit" id="form-submit"/>
</form>
</body>
</html>